<%= form_for(@table_war) do |f| %>
  <% if @table_war.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table_war.errors.count, "error") %> prohibited this table_war from being saved:</h2>

      <ul>
      <% @table_war.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
